.btn-add {
    background-color: var(--secondary)!important;
    color: #fff;
    padding: 0.75em 0.5em;
    border-radius: 1rem;
    border: 1px var(--secondary) solid !important;
}

.btn-love:hover {
    background-color: black!important;
    color: white!important;
}

.item-price {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-image {
    background-color: white;
}
