.content-address {
    display: flex;
    margin-top: 3em;
}

.address-card {
    background-color: #fff;
    border-radius: 0.5em;
    padding: 1.5em;
    box-shadow: rgba(34, 41, 47, 0.1) 0 4px 24px 0;
}

.old-address {
    flex: 1;
    height: fit-content;
}

.new-address {
    margin-right: 2em;
    flex: 2;
}

.address-card > * {
    margin-bottom: 1em;
    
}

.address-card > form > * {
    margin-bottom: 1em;
}

.address-card .btn {
    max-width: 30%;
    min-width: 200px;
}

.address-card p {
    color: var(--light-gray);
}

@media (max-width: 1024px) {
    .content-address {
        flex-direction: column;
    }
    
    .new-address {
        margin-right: 0;
        margin-bottom: 3em;
    }
}
