.card {
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-radius: 1rem;
  transition: ease .3s;
  color: black;

  .card-img-top {
    background-color: white;
    height: 12rem;

    img {
      max-height: 12rem;
    }
  }

  .card-title {
    height: max-content;
  }

  .card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}